#title-container {
    text-align: center;
    height: 20vh;
}

#main-container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

#grid-container {
    border: 1px solid lightcoral;
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 50%;
}

.grid {
    border: 1px solid gray;
}

#user-container {
    width: 30%;
}

