body {
    background-image: linear-gradient(gray,white);
}

#title-container {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 72px;
    font-weight: 700;
    font-family: "roboto", sans-serif;
    color: white;
}

#main-container {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-right: 400px;
    background-color: white;
}

#settings {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider {
    width: 200px;
    height: 15px;
    -webkit-appearance: none; /* gets rid of default styling */
    background: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: lightcoral;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px lightcoral;
}

p {
    margin: 0px;
    text-align: center;
    font-family: "roboto", sans-serif;
}

button {
    margin-top: 20px;
    height: 40px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: white;
    border-radius: 5px; 
}

#range-value {
    position: relative;
    display: block;
    text-align: center;
    font-size: 4em;
    color: white;
    font-weight: 400;
}

#footer-container {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    font-size: 18px;
    color: black;
    font-family: "roboto", sans-serif;
}
