#main-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#grid-container {
    border: 1px solid lightcoral;
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 70%;
}

#grid-container > div {
    border: 1px solid gray;
    flex: 1 0 20%;
}

#grid-container > div:hover {
    background-color: lightblue;
}